/* .gul {
  color: #765432;
  height: 200px;
  background-color: aqua;
  opacity: 0.5;
}
p {
  font-family: monospace;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 25px;
  letter-spacing: 10px;
  word-spacing: 20px;
  text-align: center;
  vertical-align: baseline;
  text-indent: 20px;
  text-shadow: 2px 2px 7px #324323;
}
p::first-letter {
  font-size: 300px;
}
p::first-line {
  font-size: 50px;
}
a:link {
  color: #765432;
  text-decoration: none;
}
a:visited {
  color: rgb(255, 0, 0);
  text-decoration: double;
}
div {
  display: inline-block;
  background-color: aqua;
  height: 100px;
  width: 200px;
}
div.visible{
    visibility: hidden;
}
ol{
    list-style: decimal-leading-zero inside;
}
li{
    background-color: #324323;
}
table{
    border: 2px solid black;
    /* border-spacing: 20px 15px; */
    /* border-collapse: collapse;
    cursor: wait;
}

th{
    border: 1px solid green;
}

td{
    border: 3px solid red;
} */ 
/* .container{
  width: 100vw;
  height: 2000px;
  background-color: antiquewhite;
  
}


.child{
  width: 100px;
  height: 100px;
  background-color: bisque;
  border: 1px solid black;
  display: flex;

}

.child-list{
  width: 100px;
  height: 100px;
  background-color: bisque;
  border: 1px solid black;
float: right;
  
}
p{
  @font-face {
    font-family: fk pathan;
    src: url   src: url('fonts/icomoon.eot?hsw0h3');
  }
} */
 /* .parent{
  min-width: 100vw;
  height: 500px;
  background-image: url("tree-736885_1280.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
 }
.child{
  min-width: 100vw;
  height: 500px;
  border: 1px solid rgb(255, 255, 255);
  background: radial-gradient(rgb(109, 244, 109), rgb(255, 255, 5), rgb(199, 0, 0));
} */

.parent{
  width: 100%;
  height: 500px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child-box{
  width: 100px;
  height: 100px;
  background-color: aqua;
}

@media  (max-width:400px) {
  .child-box{
    background-color: aqua;
    color: blue;
  }
 
}